.btn {
  font-size: 1rem;
  // background-color: pink;
}

.el-button {
  background: none;
  border: solid 2px #25abd9;
  box-shadow: 0 5px 15px -5px #bbb;
  color: #25abd9;
  cursor: pointer;
  font-size: 14px;
  height: 3rem;
  width: 9rem;
  overflow: hidden;
  //padding: 5px;
  position: relative;
  transform: perspective(1px);
  transition: color 0.2s ease-out;
  border-radius: .3rem;
}

.el-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #25abd9;
  /* 作用于transform的动画效果，这个可以自己改一下 */
  transition: transform 0.3s ease-in;
  transform: scaleX(0);
}

.el-button:hover::before {
  transform: scaleX(1);
}

.el-button:hover {
  color: white;
}